<h1 class="ui header center aligned"><%= @artist_name %> Songs</h1>
<div class="ui grid">
  <!-- <div class="ui sixteen column center aligned grid"> -->
  <% @artist_songs.each do |song| %>
    <p><%= song.name %></p>
  <% end %>
  <!-- </div> -->
</div>
